@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#auth-button {
  margin-left: auto;
}

#main {
  display: flex;
  flex-wrap: wrap;
}
.card {
  height: 28rem;
  margin: 10px;
  min-width: 30%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card-date {
  font-size: 1.5rem;
  color: #141012;
}
